<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>129454958648-cb3evrpheq6njlq7ka13kn0rappf9e8n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.129454958648-cb3evrpheq6njlq7ka13kn0rappf9e8n</string>
	<key>API_KEY</key>
	<string>AIzaSyAxghiazFwjKUOUssXzwcRz6fKyECiIwqw</string>
	<key>GCM_SENDER_ID</key>
	<string>129454958648</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.voicetranslate</string>
	<key>PROJECT_ID</key>
	<string>voice-translate-f8935</string>
	<key>STORAGE_BUCKET</key>
	<string>voice-translate-f8935.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:129454958648:ios:6b5b17550e129cff675ecd</string>
</dict>
</plist>